.trendsPage {
    padding: 20px;
    text-align: center;
  }
  
  .chartContainer {
    margin: 20px auto;
    max-width: 600px;
  }
  .trendsPage .react-calendar {
    max-width: 100%;
    width: max-content;
    background: white;
    border: 2px solid #4caf50; /* Example: Green border */
    font-family: 'Arial', 'Helvetica', sans-serif;
    line-height: 1.5em;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }